.hadithList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0;
  list-style: none;
}

.hadithCard:target {
  outline: 2px solid var(--color-accent-500);
  outline-offset: 4px;
}

/* META */
.meta {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1ch;
}

.edition {
  display: flex;
  gap: 0.5ch;
  flex-wrap: wrap;
}

/* TEXTS */
.texts > p {
  text-align: justify;
  line-height: 1.5;
}

.locale {
  font-size: 1rem;
  margin-bottom: 8px;
}

.ar {
  font-size: 1.4rem;
  font-family: var(--font-quran);
  text-align: right;
  margin-bottom: 8px;
}

/* GRADES */
.grades {
  list-style: none;
  margin-top: 1rem;
  font-family: var(--font-monospace);
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

/* LINK */
.link {
  display: inline-block;
  margin-top: 1rem;
}

/* RESPONSIVE */
@media screen and (min-width: 48rem) {
  .hadithList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .hadithCard {
    display: grid;
    grid-column: span 2;
  }

  .meta {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
  }

  .bookLink {
    grid-column: 1;
  }

  .editionLink {
    grid-column: 2;
    margin-left: auto;
  }

  .texts {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
    gap: 2rem;
  }

  .locale {
    grid-column: 1/2;
  }

  .ar {
    grid-column: 2/-1;
  }

  .link {
    margin-left: auto;
    margin-top: auto;
    padding-top: 1rem;
    grid-column: 2;
  }
}