@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter;
}

:root {
  --radius-field: 2rem;
}


@theme inline {
  --font-serif: var(--font-serif);
  --font-ui: var(--font-ui);
  --font-arabic: var(--font-arabic);
}

* {
  box-sizing: border-box;
}

body {
  background: hsl(var(--b1));
  color: hsl(var(--bc));
  font-family: var(--font-serif), serif;
  min-height: 100vh;
}

[data-ui-font] {
  font-family: var(--font-ui), sans-serif;
}

.text-arabic {
  font-family: var(--font-arabic), serif;
}
